/* stylelint-disable selector-list-comma-newline-after */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }
  
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  

  .chart-spacing {
      height: 100%;
      border-radius: 30px 30px 30px 30px;
  }    